@using Url.Data
@model Users


<div class="row">
    <div class="col-md-6 col-md-offset-3 well" id="form" style="margin-top: 20px">
        <input type="text" id="longurl" class="form-control" placeholder="Url" name="longurl" />
        <br />
        <button class="btn btn-primary" id="shorten-button">Shorten Url</button>

        <input type="text" id="shorturl" class="form-control" name="shorturl" />"
    </div>
</div>


@if(User.Identity.IsAuthenticated)
{
    <a href="/home/myurl?id=@Model.id">My Url</a>
}




@section scripts{
    <script src="/js/index.js"></script>
}
